@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --color1: #333;
  --color2: #fdfdfd;
}


* {
  scroll-behavior: smooth;
}

body {
  @apply bg-[#fafafa];
}

main {
  /* @apply px-[5%]; */
}

.footerLink {
  @apply duration-300;

  &:hover {
    opacity: .6;
  }
}